## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv('/Users/danielleb./Documents/GitHub/deep-learning-challenge/Starter_Code/Resources/charity_data.csv')

application_df.head()

2022-11-26 17:52:55.484547: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

app_df = application_df.drop(["EIN", "NAME"], axis='columns')

app_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.

print(app_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning

counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<750].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
counts_class = application_df['APPLICATION_TYPE'].value_counts()
counts_class

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_class1 = counts_class[counts_class>1]
counts_class1

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (counts_class1[counts_class1<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Compile the model
#nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

NameError: name 'nn' is not defined

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=8
hidden_nodes_layer2=5
hidden_nodes_layer3=30

nn = tf.keras.models.Sequential()



# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer 

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 8)                 157400

 dense_8 (Dense)             (None, 5)                 45

 dense_9 (Dense)             (None, 30)                180

 dense_10 (Dense)            (None, 1)                 31

=================================================================
Total params: 157,656
Trainable params: 157,656
Non-trainable params: 0
_________________________________________________________________

In [21]:

nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [22]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 11s 15ms/step - loss: 0.5052 - accuracy: 0.7531 - val_loss: 0.5204 - val_accuracy: 0.6921
Epoch 2/100
684/684 [==============================] - 7s 10ms/step - loss: 0.3010 - accuracy: 0.8663 - val_loss: 0.5921 - val_accuracy: 0.7108
Epoch 3/100
684/684 [==============================] - 3s 5ms/step - loss: 0.2011 - accuracy: 0.9167 - val_loss: 0.8190 - val_accuracy: 0.6631
Epoch 4/100
684/684 [==============================] - 4s 6ms/step - loss: 0.1566 - accuracy: 0.9302 - val_loss: 0.9412 - val_accuracy: 0.6512
Epoch 5/100
684/684 [==============================] - 3s 5ms/step - loss: 0.1302 - accuracy: 0.9470 - val_loss: 0.8051 - val_accuracy: 0.6909
Epoch 6/100
684/684 [==============================] - 3s 5ms/step - loss: 0.1129 - accuracy: 0.9578 - val_loss: 0.8227 - val_accuracy: 0.7219
Epoch 7/100
684/684 [==============================] - 4s 5ms/step - loss: 0.1009 - accuracy: 0.9619 - val_loss: 0.9170 - val_accuracy: 0.7038
Epoch 8/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0955 - accuracy: 0.9618 - val_loss: 0.9980 - val_accuracy: 0.6909
Epoch 9/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0926 - accuracy: 0.9630 - val_loss: 0.7678 - val_accuracy: 0.7396
Epoch 10/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0917 - accuracy: 0.9623 - val_loss: 0.7843 - val_accuracy: 0.7569
Epoch 11/100
684/684 [==============================] - 3s 4ms/step - loss: 0.1208 - accuracy: 0.9512 - val_loss: 1.7389 - val_accuracy: 0.6271
Epoch 12/100
684/684 [==============================] - 4s 6ms/step - loss: 0.1027 - accuracy: 0.9596 - val_loss: 1.6520 - val_accuracy: 0.6559
Epoch 13/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0916 - accuracy: 0.9621 - val_loss: 1.1397 - val_accuracy: 0.6732
Epoch 14/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0893 - accuracy: 0.9630 - val_loss: 0.8368 - val_accuracy: 0.7020
Epoch 15/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0892 - accuracy: 0.9639 - val_loss: 0.7700 - val_accuracy: 0.7403
Epoch 16/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0878 - accuracy: 0.9638 - val_loss: 0.8609 - val_accuracy: 0.7673
Epoch 17/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0873 - accuracy: 0.9631 - val_loss: 0.6905 - val_accuracy: 0.8007
Epoch 18/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0866 - accuracy: 0.9639 - val_loss: 0.6896 - val_accuracy: 0.7984
Epoch 19/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0858 - accuracy: 0.9641 - val_loss: 0.7314 - val_accuracy: 0.7981
Epoch 20/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0865 - accuracy: 0.9640 - val_loss: 0.7008 - val_accuracy: 0.7976
Epoch 21/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0858 - accuracy: 0.9645 - val_loss: 0.7499 - val_accuracy: 0.7974
Epoch 22/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0861 - accuracy: 0.9642 - val_loss: 0.7091 - val_accuracy: 0.7987
Epoch 23/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0847 - accuracy: 0.9645 - val_loss: 0.7937 - val_accuracy: 0.8002
Epoch 24/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0853 - accuracy: 0.9644 - val_loss: 0.7474 - val_accuracy: 0.7974
Epoch 25/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0845 - accuracy: 0.9649 - val_loss: 0.9065 - val_accuracy: 0.7992
Epoch 26/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0959 - accuracy: 0.9602 - val_loss: 0.7899 - val_accuracy: 0.7948
Epoch 27/100
684/684 [==============================] - 3s 5ms/step - loss: 0.1061 - accuracy: 0.9568 - val_loss: 0.8585 - val_accuracy: 0.7968
Epoch 28/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0908 - accuracy: 0.9632 - val_loss: 0.7902 - val_accuracy: 0.7974
Epoch 29/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0860 - accuracy: 0.9638 - val_loss: 0.9739 - val_accuracy: 0.7979
Epoch 30/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0849 - accuracy: 0.9643 - val_loss: 1.0585 - val_accuracy: 0.7999
Epoch 31/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0844 - accuracy: 0.9643 - val_loss: 1.0615 - val_accuracy: 0.7989
Epoch 32/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0837 - accuracy: 0.9651 - val_loss: 1.0149 - val_accuracy: 0.7958
Epoch 33/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0846 - accuracy: 0.9644 - val_loss: 1.1152 - val_accuracy: 0.7981
Epoch 34/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0840 - accuracy: 0.9646 - val_loss: 1.2737 - val_accuracy: 0.8007
Epoch 35/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0836 - accuracy: 0.9648 - val_loss: 1.3309 - val_accuracy: 0.7987
Epoch 36/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0838 - accuracy: 0.9645 - val_loss: 1.2118 - val_accuracy: 0.8005
Epoch 37/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0835 - accuracy: 0.9650 - val_loss: 1.0759 - val_accuracy: 0.7979
Epoch 38/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0833 - accuracy: 0.9649 - val_loss: 1.2990 - val_accuracy: 0.7997
Epoch 39/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0830 - accuracy: 0.9654 - val_loss: 1.1811 - val_accuracy: 0.7999
Epoch 40/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0832 - accuracy: 0.9656 - val_loss: 1.3016 - val_accuracy: 0.7987
Epoch 41/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0832 - accuracy: 0.9650 - val_loss: 1.3863 - val_accuracy: 0.8002
Epoch 42/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0830 - accuracy: 0.9647 - val_loss: 1.6138 - val_accuracy: 0.8012
Epoch 43/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0989 - accuracy: 0.9579 - val_loss: 1.4847 - val_accuracy: 0.7981
Epoch 44/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0863 - accuracy: 0.9639 - val_loss: 1.6038 - val_accuracy: 0.7999
Epoch 45/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0831 - accuracy: 0.9648 - val_loss: 1.7336 - val_accuracy: 0.7994
Epoch 46/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0822 - accuracy: 0.9650 - val_loss: 1.8074 - val_accuracy: 0.7994
Epoch 47/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0822 - accuracy: 0.9651 - val_loss: 1.8262 - val_accuracy: 0.8007
Epoch 48/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0820 - accuracy: 0.9653 - val_loss: 1.9215 - val_accuracy: 0.8010
Epoch 49/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0816 - accuracy: 0.9652 - val_loss: 2.0488 - val_accuracy: 0.8020
Epoch 50/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0811 - accuracy: 0.9655 - val_loss: 1.9761 - val_accuracy: 0.8002
Epoch 51/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0812 - accuracy: 0.9657 - val_loss: 2.1880 - val_accuracy: 0.8010
Epoch 52/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0816 - accuracy: 0.9651 - val_loss: 2.0997 - val_accuracy: 0.7997
Epoch 53/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0813 - accuracy: 0.9657 - val_loss: 2.1801 - val_accuracy: 0.8007
Epoch 54/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0818 - accuracy: 0.9649 - val_loss: 2.1209 - val_accuracy: 0.8002
Epoch 55/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0808 - accuracy: 0.9651 - val_loss: 2.1004 - val_accuracy: 0.7989
Epoch 56/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0811 - accuracy: 0.9650 - val_loss: 2.0524 - val_accuracy: 0.8005
Epoch 57/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0807 - accuracy: 0.9664 - val_loss: 2.1054 - val_accuracy: 0.8005

Epoch 58/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0806 - accuracy: 0.9659 - val_loss: 2.0759 - val_accuracy: 0.8012
Epoch 59/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0804 - accuracy: 0.9657 - val_loss: 2.0166 - val_accuracy: 0.7984
Epoch 60/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0804 - accuracy: 0.9657 - val_loss: 2.2289 - val_accuracy: 0.8007
Epoch 61/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0805 - accuracy: 0.9662 - val_loss: 2.1976 - val_accuracy: 0.8002
Epoch 62/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0803 - accuracy: 0.9658 - val_loss: 2.2085 - val_accuracy: 0.8015
Epoch 63/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0806 - accuracy: 0.9663 - val_loss: 2.3711 - val_accuracy: 0.8010
Epoch 64/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0801 - accuracy: 0.9662 - val_loss: 2.1817 - val_accuracy: 0.8010
Epoch 65/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0803 - accuracy: 0.9660 - val_loss: 2.3506 - val_accuracy: 0.8005
Epoch 66/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0802 - accuracy: 0.9660 - val_loss: 2.2760 - val_accuracy: 0.7989
Epoch 67/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0798 - accuracy: 0.9663 - val_loss: 2.2574 - val_accuracy: 0.7989
Epoch 68/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0804 - accuracy: 0.9663 - val_loss: 2.2428 - val_accuracy: 0.8005
Epoch 69/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0796 - accuracy: 0.9660 - val_loss: 2.3297 - val_accuracy: 0.7994
Epoch 70/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0797 - accuracy: 0.9660 - val_loss: 2.4041 - val_accuracy: 0.7987
Epoch 71/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0790 - accuracy: 0.9659 - val_loss: 2.3027 - val_accuracy: 0.8012
Epoch 72/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0795 - accuracy: 0.9662 - val_loss: 2.3560 - val_accuracy: 0.8018
Epoch 73/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0792 - accuracy: 0.9663 - val_loss: 2.3877 - val_accuracy: 0.8020
Epoch 74/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0792 - accuracy: 0.9656 - val_loss: 2.5563 - val_accuracy: 0.8012
Epoch 75/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0794 - accuracy: 0.9668 - val_loss: 2.3791 - val_accuracy: 0.8007
Epoch 76/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0788 - accuracy: 0.9662 - val_loss: 2.4312 - val_accuracy: 0.8007
Epoch 77/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0791 - accuracy: 0.9657 - val_loss: 2.5343 - val_accuracy: 0.8020
Epoch 78/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0791 - accuracy: 0.9659 - val_loss: 2.6833 - val_accuracy: 0.8010
Epoch 79/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0786 - accuracy: 0.9667 - val_loss: 2.6366 - val_accuracy: 0.8015
Epoch 80/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0787 - accuracy: 0.9661 - val_loss: 2.5488 - val_accuracy: 0.8007
Epoch 81/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0786 - accuracy: 0.9672 - val_loss: 2.5702 - val_accuracy: 0.8018
Epoch 82/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0789 - accuracy: 0.9672 - val_loss: 2.6945 - val_accuracy: 0.8002
Epoch 83/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0782 - accuracy: 0.9670 - val_loss: 2.8143 - val_accuracy: 0.8002
Epoch 84/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0785 - accuracy: 0.9670 - val_loss: 2.6242 - val_accuracy: 0.8012
Epoch 85/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0783 - accuracy: 0.9664 - val_loss: 2.8260 - val_accuracy: 0.8012
Epoch 86/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0784 - accuracy: 0.9673 - val_loss: 2.5721 - val_accuracy: 0.8007
Epoch 87/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0781 - accuracy: 0.9663 - val_loss: 2.7698 - val_accuracy: 0.8012
Epoch 88/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0785 - accuracy: 0.9665 - val_loss: 2.6394 - val_accuracy: 0.8015
Epoch 89/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0783 - accuracy: 0.9671 - val_loss: 2.6032 - val_accuracy: 0.8002
Epoch 90/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0781 - accuracy: 0.9672 - val_loss: 2.6680 - val_accuracy: 0.8015
Epoch 91/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0783 - accuracy: 0.9670 - val_loss: 2.6128 - val_accuracy: 0.7994
Epoch 92/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0784 - accuracy: 0.9666 - val_loss: 2.5263 - val_accuracy: 0.7999
Epoch 93/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0783 - accuracy: 0.9669 - val_loss: 2.5701 - val_accuracy: 0.7997
Epoch 94/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0776 - accuracy: 0.9671 - val_loss: 2.4200 - val_accuracy: 0.8005
Epoch 95/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0777 - accuracy: 0.9679 - val_loss: 2.5723 - val_accuracy: 0.8015
Epoch 96/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0777 - accuracy: 0.9675 - val_loss: 2.6323 - val_accuracy: 0.8005
Epoch 97/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0778 - accuracy: 0.9677 - val_loss: 2.8886 - val_accuracy: 0.8012
Epoch 98/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0774 - accuracy: 0.9672 - val_loss: 2.5773 - val_accuracy: 0.7999
Epoch 99/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0774 - accuracy: 0.9672 - val_loss: 2.7345 - val_accuracy: 0.8005
Epoch 100/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0777 - accuracy: 0.9675 - val_loss: 2.7654 - val_accuracy: 0.8015

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6486 - accuracy: 0.7665 - 1s/epoch - 5ms/step
Loss: 0.6486377120018005, Accuracy: 0.7665306329727173

In [26]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE



nn.save (application_df.h5)

AttributeError: 'DataFrame' object has no attribute 'h5'